{% extends "inc/base.html" %}

{% load static %}

{% block page_title %}
Stack Underflow
{% endblock %}

{% block page_content %}

<div class="row">

  <div class="col-11 page-header">
    <h1>Hot Questions 🔥</h1>
  </div>

</div>

<div class="questions-section">

  <div class="question">
    <div class="row">

      <div class="col-2 question-author">
        <div class="avatar">
          <a href="#"><img src="{% static 'img/cool-avatar-4.jpg' %}" alt=""></a>
        </div>
        <div class="question-author-name"><a href="#">EgorKreed</a></div>
        <div class="row question-rating">
          <div class="col-4 question-rating-arrows">
            <div class="btn btn-sm question-rating-arrow-up success">▲</div>
            <div class="btn btn-sm question-rating-arrow-down failure">▼</div>
          </div>
          <div class="col-8 question-rating-amount success">+157</div>
        </div>
      </div>

      <div class="col-10 question-content">
        <div class="question-text">
          <div class="row question-header">
            <a href="#"><h3>Егор Крид - лучший!</h3></a>
          </div>
          <div class="row question-description">
            Обожаю его клипы, знаю наизусть все треки и, кстати, был на сцене на всех его концертах.
          </div>
        </div>

        <div class="question-answers"><a href="#">17 answers</a></div>
        <div class="question-bottom">
          <div class="question-tags">
            <div class="tag btn">Музыка</div>
            <div class="tag btn">Фанат</div>
          </div>
          <div class="question-status">
            <div class="question-time-ago">3 дня назад</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="question">
    <div class="row">

      <div class="col-2 question-author">
        <div class="avatar">
          <a href="#"><img src="{% static 'img/cool-avatar-1.jpg' %}" alt=""></a>
        </div>
        <div class="question-author-name"><a href="#">CoolVasya</a></div>
        <div class="row question-rating">
          <div class="col-4 question-rating-arrows">
            <div class="btn btn-sm question-rating-arrow-up success">▲</div>
            <div class="btn btn-sm question-rating-arrow-down failure">▼</div>
          </div>
          <div class="col-8 question-rating-amount success">+10</div>
        </div>
      </div>

      <div class="col-10 question-content">
        <div class="question-text">
          <div class="row question-header">
            <a href="{% url "question" question_id=1 %}"><h3>Вы тоже "обожаете" вёрстку?</h3></a>
          </div>
          <div class="row question-description">
            Да тут на самом деле и говорить не о чем, лорем ипсум долор сит амет так сказать.
          </div>
        </div>

        <div class="question-answers"><a href="{% url "question" question_id=1 %}">2 answers</a></div>
        <div class="question-bottom">
          <div class="question-tags">
            <div class="tag btn"><a href="{% url "tag" tag_id=1 %}">HTML</a></div>
            <div class="tag btn">CSS</div>
            <div class="tag btn">Bootstrap</div>
          </div>
          <div class="question-status">
            <div class="question-time-ago">5 минут назад</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="question">
    <div class="row">

      <div class="col-2 question-author">
        <div class="avatar">
          <a href="#"><img src="{% static 'img/cool-avatar-2.jpg' %}" alt=""></a>
        </div>
        <div class="question-author-name"><a href="#">LilPeep2007</a></div>
        <div class="row question-rating">
          <div class="col-4 question-rating-arrows">
            <div class="btn btn-sm question-rating-arrow-up success">▲</div>
            <div class="btn btn-sm question-rating-arrow-down failure">▼</div>
          </div>
          <div class="col-8 question-rating-amount">0</div>
        </div>
      </div>

      <div class="col-10 question-content">
        <div class="question-text">
          <div class="row question-header">
            <a href="#"><h3>Какие ближайшие забеги в Москве?</h3></a>
          </div>
          <div class="row question-description">
            5 км, 10 км, полумарафон/марафон - не важно.
          </div>
        </div>

        <div class="question-answers"><a href="#">0 answers</a></div>
        <div class="question-bottom">
          <div class="question-tags">
            <div class="tag btn">ЗОЖ</div>
          </div>
          <div class="question-status">
            <div class="question-time-ago">4 года назад</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div class="question">
    <div class="row">

      <div class="col-2 question-author">
        <div class="avatar">
          <a href="#"><img src="{% static 'img/cool-avatar-3.jpg' %}" alt=""></a>
        </div>
        <div class="question-author-name"><a href="#">Vitek228</a></div>
        <div class="row question-rating">
          <div class="col-4 question-rating-arrows">
            <div class="btn btn-sm question-rating-arrow-up success">▲</div>
            <div class="btn btn-sm question-rating-arrow-down failure">▼</div>
          </div>
          <div class="col-8 question-rating-amount failure">-28</div>
        </div>
      </div>

      <div class="col-10 question-content">
        <div class="question-text">
          <div class="row question-header">
            <a href="#"><h3>C++ - лучший язык!</h3></a>
          </div>
          <div class="row question-description">
            И этим всё сказано.
          </div>
        </div>

        <div class="question-answers"><a href="#">54 answers</a></div>
        <div class="question-bottom">
          <div class="question-tags">
            <div class="tag btn">C++</div>
            <div class="tag btn">Unpopular opinion</div>
          </div>
          <div class="question-status">
            <div class="question-time-ago">2 часа назад</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Paginator -->
  {% include "inc/paginator.html" %}

</div>
{% endblock %}
