{% extends "inc/base.html" %}

{% load static %}

{% block page_title %}
{{question.title}}
{% endblock %}

{% block page_content %}

<div class="question-topic-section">

  {% include "inc/main_question.html" %}

  {% if user.is_authenticated %}
  <form class="new-answer" action="{% url "question" question.id %}" method="post">
    {% csrf_token %}

    <div class="form-group form-group-flex">
      <label class="question-form-label label-answer" for="questionText">New answer:</label>
      <textarea name="text" class="form-control question-form" id="questionText" placeholder="This all because of retrograd Mercury" rows="3"></textarea> 
    </div>
    <button class="btn btn-dark submit-button">Answer</button>
  </form>
  {% else %}
  <div class="wanna-answer"><h4>Want to answer? Log in!</h4></div>
  {% endif %}

  <div class="page-header answers-header">
    <h3>{{question.answers.count}} Answers:</h3>
  </div>

  <!-- Answers -->
  <div class="answers-section">

    {% for answer in answers %}
      {% include "inc/answer.html" %}
    {% endfor %}

  </div>

  {% include "inc/paginators/answers.html" %}

</div>
{% endblock %}
