{% load static %}

<div class="answer">
    <div class="row">

      <div class="col-2 question-author">
        <div class="avatar">
          <a href="#"><img src="{% static answer.user.avatar %}" alt=""></a>
        </div>
        <div class="author-name"><a href="#">{{answer.user.name}}</a></div>
        <div class="row rating">
          <div class="col-4 rating-arrows">
            <div class="btn btn-sm rating-arrow-up success">▲</div>
            <div class="btn btn-sm rating-arrow-down failure">▼</div>
          </div>
          <div class="col-8 rating-amount success">+ {{answer.rating}}</div>
        </div>
      </div>

      <div class="col-10 question-content">
        <div class="question-text">
          <div class="row ans-text">
            {{answer.text}}
          </div>
        </div>

        <div class="ans-bottom">
          <div class="ans-status">
            <div class="ans-time-ago">{{answer.time_ago}}</div>
          </div>
          <div class="ans-status">
            <div class="form-check">
              <input class="form-check-input check-right" type="checkbox" value="" id="isRirghtAns">
              <label class="form-check-label" for="isRightAns">
                Right answer
              </label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>