{% load static %} <!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>

      {% block page_title %}
      {% endblock %}

    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/Stack_Underflow_icon.png" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  
  <body class="d-flex flex-column h-100">
    
    {% include "inc/header.html" %}
    
    <main class="row flex-shrink-0 justify-content-center">
  
      <div class="col-8 container">
        <div class="row page-body">
          <div class="col-8">

            {% block page_content %}
            {% endblock %}

          </div>

          {% include "inc/sidebar.html" %}
          
        </div>
      </div>
      
    </main>

    {% include "inc/footer.html" %}

    </body>
</html>
